div#todos {
    display: block;
    min-width: 30vw;
    background-color: #f2f2f2;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding: 10px;
    margin: 4vh auto 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #4d4d4d;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

div#todos canvas{
    display: block;
    width: 99%;
    margin: 5px auto;
}

div#todos ul {
    margin: 5px auto;
    padding: 0.3em;
}

div#todos ul li {
    list-style: none;
    padding: 5px;
    border-bottom: 1px solid #d9d9d9;
}

div#todos ul li.completed span {
    content: 'c';
}

div#todos ul li:last-child {
    border-bottom: none;
}

div#todos ul li:hover {
    background-color: #e6e6e6;
}

div#todos ul li span {
    margin: 0 10px;
}